@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-image: url('/assets/img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* header{
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
} */
.logosize{
    width: 95px;
    height: auto;
}
.home1font{
    font-family: 'Poppins', sans-serif;
}
