@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-image: url('/assets/img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* header{
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
} */
.logosize{
    width: 95px;
    height: auto;
}
.home1font{
    font-family: 'Poppins', sans-serif;
}
.neon {
    animation: neonAnim 2.5s alternate-reverse infinite;
    color: #FF1A1A;
}
@keyframes neonAnim {
    from {
        text-shadow:
          0 0 15px rgba(255, 26, 26, .7),
          0 0 45px rgba(255, 26, 26, .7),
          0 0 105px rgba(255, 26, 26, .7);
      }
      to {
        text-shadow:
          0 0 10px rgba(255, 26, 26, .7),
          0 0 25px rgba(255, 26, 26, .7),
          0 0 65px rgba(255, 26, 26, .7);
      }
}
